<h3>Create a Team and Heroes!</<h3>

<form method="post" action="/teams">
  <h3>Team</h3>
  <label for="team_name">Team Name</label>
  <input id="team_name" type="text" name="team[name]" /><br>
  <label for="team_motto">Team Motto</label>
  <input id="team_motto" type="text" name="team[motto]" /><br>


  fill_in("team[name]", :with => "Team Ruby")
  fill_in("team[motto]", :with => "We love Ruby!")
  fill_in("member1_name", :with => "Amanda")
  fill_in("member1_power", :with => "Ruby")
  fill_in("member1_bio", :with => "I love Ruby!")
  fill_in("member2_name", :with => "Arel")
  fill_in("member2_power", :with => "JavaScript")
  fill_in("member2_bio", :with => "I love JavaScript!")
  fill_in("member3_name", :with => "Katie")
  fill_in("member3_power", :with => "Sinatra")
  fill_in("member3_bio", :with => "I love Sinatra!")


  <h3>Hero 1</h3>
  <label for="member1_name">Hero's Name:</label>
  <input id="member1_name" type="text" name="team[hero][][name]" /><br>
  <label for="member1_power">Hero's Power:</label>
  <input id="member1_power" type="text" name="team[hero][][power]" /><br>
  <label for="member1_bio">Hero's Biography:</label>
  <input id="member1_bio" type="text" name="team[hero][][bio]" /><br><br>

  <h3>Hero 2</h3>
  <label for="member2_name">Hero's Name:</label>
  <input id="member2_name" type="text" name="team[hero][][name]" /><br>
  <label for="member2_power">Hero's Power:</label>
  <input id="member2_power" type="text" name="team[hero][][power]" /><br>
  <label for="member2_bio">Hero's Biography:</label>
  <input id="member2_bio" type="text" name="team[hero][][bio]" /><br><br>

  <h3>Hero 3</h3>
  <label for="member3_name">Hero's Name:</label>
  <input id="member3_name" type="text" name="team[hero][][name]" /><br>
  <label for="member3_power">Hero's Power:</label>
  <input id="member3_power" type="text" name="team[hero][][power]" /><br>
  <label for="member3_bio">Hero's Biography:</label>
  <input id="member3_bio" type="text" name="team[hero][][bio]" /><br><br>
  <input type="submit">
</form>
